<% if @favorites.exists? %>
  <div class='container px-5 px-sm-0'>
    <h2><%= @customer.name %>のいいね一覧ページ</h2>
    <div class='row'>
      <%= render 'public/post_favorites/index_customer', favorites: @favorites %>
    </div>
  </div>
<% else %>
  <h2>いいねをしている投稿がありません</h2>
<% end %>