<div class='container px-5 px-sm-0'>
  <div class="row mt-5">
    <h2 class="midashi">
      <%= @group.name %>のグループ部屋
    </h2>
    <div class="col-11">
      <div class="text-md-right text-center">
      <%=link_to "部屋に戻る", group_room_path(@group), class: "btn btn-success px-5 py-2 mb-1" %>
      </div>
    </div>
  </div>
  <%= render "public/rooms/show", messages: @messages %>
  <%= paginate @messages %>
</div>