<div class='container'>
  <%= render 'layouts/errors', obj: @post %>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="text-center py-2 midashi my-5">新規投稿</h2>
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
