<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

      <div class="mt-5 mb-5 text-center"><%= image_tag "logo.jpg", size: "200x150" %></div>
      <h2 class="mb-4 mt-3 text-center">総合的なコミュニティサイトです</h2>
      <h5 class="text-center mb-3">どうでもいい事を発信したり</h5>
      <h5 class="text-center mb-3">どうでもいいことに絡んでいったり</h5>
      <h5 class="text-center mb-3">同じ趣味同士でグループチャットしたり</h5>
      <h5 class="text-center mb-3">ぜひこのサイトをご活用ください。</h5>

        <div class="text-center mb-3">
          <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, class: "btn btn-secondary py-3 mt-4", method: :post %>
        </div>

        <div class="row text-center">
          <div class="col-1"></div>
          <div class="col-5">
            <%= link_to 'ログイン',new_customer_session_path, class: "btn btn-info py-3 px-5 ml-4" %>
          </div>
          <div class="col-5">
            <%= link_to '新規登録',new_customer_registration_path, class: "btn btn-success py-3 px-5 mr-4" %>
          </div>
          <div class="col-1"></div>
        </div>

    </div>
  </div>
</div>