<% if @comments.exists? %>
<div class='container px-5 px-sm-0'>
  <div class="row mt-5">
    <h2 class="midashi"><%= @customer.name %>のコメント一覧ページ</h2>
  </div>
  <div class="col-11">
    <div class="text-md-right text-center">
      <%=link_to "コメントを全部削除する", admin_customer_post_comments_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger px-5 py-2 mb-1 mt-3" %>
    </div>
  </div>
  <table>
    <%= render 'admin/post_comments/index', comments: @comments %>
  </table>
  <%= paginate @comments %>
<% else %>
  <h2 class="deta-none">コメントをしている投稿がありません</h2>
<% end %>