<%= form_with model:report, url: customer_reports_path, method: :post  do |f| %>

  <div class="form-group row">
    <%= f.label :message,"通報理由", class: "col-5 my-auto" %>
  </div>
  <%= f.text_area :message,size: "10x8", class: "form-control introduction", maxlength: '200' %>

  <div class="form-group my-4 text-right">
    <%= f.submit class: 'btn btn-success py-2 px-3 mb-5 mt-1' %>
  </div>

<% end %>